[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
nltk = "*"
searchtweets = "*"
flair = "*"
google-api-python-client = "*"
pip = "*"
install = "*"
google-search-results = "*"
serpapi = "*"
lxml = "*"
cssselect = "*"
newsapi-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
